/* You can add global styles to this file, and also import other style files */
.text-center{
    text-align: center;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.answer-button{
    height: 20px;
    border: 1px solid #4d8f4d;
    background-color: white;
    color: #4d8f4d;
    margin: 12px 10px;
}

